// Mixin to set border-radius
@mixin round-border($radius: 0.3em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// Mixin for image replacement
%image-replacement {
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

%default-shadow {
  -webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}

@import "compass/css3";
@import "comass/utilities";